# User setups for EWEX runs
assessments/

# User Data for Removal and Startings Concentrations
data/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/

# IDE
.idea
.vscode

*.pickle
*.xlsx

data/
qcra.db
data.zip